<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Review</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Review</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button [routerLink]="['/home']">Home </ion-button>
  <br>
  <!--style css to change the style and give it a more user friendly look / GUI-->
  <style>
    h3 {
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: auto;  
  }
  h6 {
    text-align: center;
    
  }
  p{
    background-color: rgb(218, 246, 255);
    border: 2px solid;
    padding: 20px; 
    width: 300px;
    resize: both;
    overflow: auto;
  }
  </style>
  <!--this has been hard-coded in different tags -->
  <h3>The Atomic Habits</h3>
  <h6>By James Clear</h6>
    <p>"Atomic Habits" by James Clear is a game-changer when it comes to understanding and improving our habits. 
      Clear presents a practical framework that emphasizes the power of small, incremental changes. His four-step model for habit formation, 
      along with strategies like habit stacking and habit tracking, offers actionable techniques for building positive habits. 
      Clear's focus on identity-based habits and the compounding effect of tiny actions makes this book a valuable resource for personal growth and long-term success. 
      Backed by scientific research and written in an engaging style, "Atomic Habits" is a must-read for anyone looking to transform their habits and achieve meaningful change.</p>
    <h3>Oversubscribed</h3>
    <h6>Daniel Priestly</h6>
    <p>Oversubscribed (2015) explains how to create a business that generates more demand than it can supply. 
      Used by Apple to create a passionate and loyal customer base and by boutique brands to manufacture desire and earn huge profits, 
      the business model of oversubscription both gets attention and keeps it. In these blinks, you’ll learn how it works.</p>
    <h3>The Millionaire Fastlane</h3>
    <h6>MJ DeMarco</h6>
    <p>The Millionaire Fastlane, multimillionaire entrepreneur and investor MJ DeMarco challenges conventional wisdom about how to create wealth and offers a simple formula to shortcut your path to riches and early retirement.
      According to DeMarco, all financial strategies follow one of three formulas—Insatiable Consumption, Hopeful Accumulation, and Active Production. 
      Each formula represents a distinct attitude and approach that determines both the amount of money you can accumulate and the speed at which you can achieve your financial goal.
      The Millionaire Fastlane explores DeMarco’s key ideas about each of these three formulas and his argument that the first two represent common shortcuts to wealth that don’t guarantee financial freedom. 
      However, he claims, there is a way to generate a massive income in a short time. 
      DeMarco explains how, providing actionable advice to fast-track your path to wealth. 
      Throughout this guide, we’ll compare and contrast DeMarco’s key ideas with research and practical advice from financial advisors and successful entrepreneurs.</p>
      <h3>The 4 Hour Work Week</h3>
      <h6>Tim Ferriss</h6>
      <p>Many people want to retire as millionaires so that they have the time and money to travel, buy luxury cars and homes, or visit with their friends and families. 
        However, you don’t need to be a millionaire to do all these things. You don’t even need to retire.
        In The 4-Hour Workweek, entrepreneur, consultant, and life coach Tim Ferriss explains how anyone can live the retired millionaire lifestyle by building their own business, 
        automating it, and then collecting the income while they go off to live their dreams. In this guide, we’ll describe each of Ferriss’s steps to creating this life. 
        We’ll also examine why some of his recommendations are particularly effective and explore alternatives and counterarguments to other suggestions.</p>
        <h3>Rich Dad, Poor Dad</h3>
        <h6>Robert Kiyosaki</h6>
        <p>Rich Dad, Poor Dad is one of the best-selling financial books in history, selling over 35 million copies. The premise: when growing up, 
          author Robert Kiyosaki had two dads advising him: 1) a Stanford-educated PhD who followed traditional career thinking and was financially illiterate (the Poor Dad, 
          his biological father); 2) a high school dropout who built a business empire employing thousands (the Rich Dad, his best friend’s father).
          The two dads are a parable for two different approaches to wealth: Poor Dad recommends getting a secure job with good benefits and retiring with a pension. 
          Rich Dad recommends amassing assets that make money for you, becoming financially literate, and practicing independent thinking.
          In this book, learn how to achieve financial independence, why it’s a terrible idea to see your home as your biggest investment, 
          and how to overcome the biggest mental blocks to becoming wealthy.</p>
</ion-content>
